# MANIFEST.in

# Include all data files from the main package
recursive-include src/ai_assistant/personas *.md
recursive-include src/ai_assistant/personas *.py
recursive-include src/ai_assistant/internal_data *
include src/ai_assistant/default_config.yml

# Explicitly and recursively include the test data files from their location within the src directory.
recursive-include src/ai_assistant/tests/fixtures *.json
recursive-include src/ai_assistant/tests/schemas *.json